<div class="container" id="projects-container">
  <div class="landing" data-stellar-background-ratio="0.4">
    <div class="text-container">
      <h1>Projects</h1>
    </div>
  </div>
  <div class="content-container">
    <p>
      Cupcake ipsum dolor sit. Amet icing tootsie roll tart gummi bears danish. Jujubes lollipop tiramisu carrot cake ice cream jelly sweet roll pudding. I love cake soufflé candy marzipan jelly beans. Unerdwear.com lemon drops cookie I love candy candy canes cake cheesecake. Lollipop I love muffin I love ice cream lemon drops icing wafer cake. Marshmallow pie pudding brownie sweet roll pudding brownie I love. Sesame snaps tootsie roll halvah I love cupcake pie icing. Sweet marzipan gummi bears chupa chups sesame snaps I love muffin apple pie.
    </p>
    <p>
      Cupcake ipsum dolor sit. Amet icing tootsie roll tart gummi bears danish. Jujubes lollipop tiramisu carrot cake ice cream jelly sweet roll pudding. I love cake soufflé candy marzipan jelly beans. Unerdwear.com lemon drops cookie I love candy candy canes cake cheesecake. Lollipop I love muffin I love ice cream lemon drops icing wafer cake. Marshmallow pie pudding brownie sweet roll pudding brownie I love. Sesame snaps tootsie roll halvah I love cupcake pie icing. Sweet marzipan gummi bears chupa chups sesame snaps I love muffin apple pie.
    </p>
  </div>
  <div class="landing" data-stellar-background-ratio="0.4" id="current_projects">
    <div class="text-container">
      <h2>Current Projects</h2>
    </div>
  </div>
  <div class="content-container">
    <h3>IGVC</h3>
    <p>
      Cupcake ipsum dolor sit. Amet icing tootsie roll tart gummi bears danish. Jujubes lollipop tiramisu carrot cake ice cream jelly sweet roll pudding. I love cake soufflé candy marzipan jelly beans. Unerdwear.com lemon drops cookie I love candy candy canes cake cheesecake. Lollipop I love muffin I love ice cream lemon drops icing wafer cake. Marshmallow pie pudding brownie sweet roll pudding brownie I love. Sesame snaps tootsie roll halvah I love cupcake pie icing. Sweet marzipan gummi bears chupa chups sesame snaps I love muffin apple pie.
    </p>

    <h3>Robot Racing</h3>
    <p>
      Cupcake ipsum dolor sit. Amet icing tootsie roll tart gummi bears danish. Jujubes lollipop tiramisu carrot cake ice cream jelly sweet roll pudding. I love cake soufflé candy marzipan jelly beans. Unerdwear.com lemon drops cookie I love candy candy canes cake cheesecake. Lollipop I love muffin I love ice cream lemon drops icing wafer cake. Marshmallow pie pudding brownie sweet roll pudding brownie I love. Sesame snaps tootsie roll halvah I love cupcake pie icing. Sweet marzipan gummi bears chupa chups sesame snaps I love muffin apple pie.
    </p>

    <h3>Mars Rover</h3>
    <p>
      Cupcake ipsum dolor sit. Amet icing tootsie roll tart gummi bears danish. Jujubes lollipop tiramisu carrot cake ice cream jelly sweet roll pudding. I love cake soufflé candy marzipan jelly beans. Unerdwear.com lemon drops cookie I love candy candy canes cake cheesecake. Lollipop I love muffin I love ice cream lemon drops icing wafer cake. Marshmallow pie pudding brownie sweet roll pudding brownie I love. Sesame snaps tootsie roll halvah I love cupcake pie icing. Sweet marzipan gummi bears chupa chups sesame snaps I love muffin apple pie.
    </p>
  </div>
  <div class="landing" data-stellar-background-ratio="0.4" id="past_projects">
    <div class="text-container">
      <h2>Past Projects</h2>
    </div>
  </div>
  <div class="content-container">
    <h3>NASA Sample Return Challenge</h3>
    <p>
      Cupcake ipsum dolor sit. Amet icing tootsie roll tart gummi bears danish. Jujubes lollipop tiramisu carrot cake ice cream jelly sweet roll pudding. I love cake soufflé candy marzipan jelly beans. Unerdwear.com lemon drops cookie I love candy candy canes cake cheesecake. Lollipop I love muffin I love ice cream lemon drops icing wafer cake. Marshmallow pie pudding brownie sweet roll pudding brownie I love. Sesame snaps tootsie roll halvah I love cupcake pie icing. Sweet marzipan gummi bears chupa chups sesame snaps I love muffin apple pie.
    </p>

    <h3>Robogames</h3>
    <p>
      Cupcake ipsum dolor sit. Amet icing tootsie roll tart gummi bears danish. Jujubes lollipop tiramisu carrot cake ice cream jelly sweet roll pudding. I love cake soufflé candy marzipan jelly beans. Unerdwear.com lemon drops cookie I love candy candy canes cake cheesecake. Lollipop I love muffin I love ice cream lemon drops icing wafer cake. Marshmallow pie pudding brownie sweet roll pudding brownie I love. Sesame snaps tootsie roll halvah I love cupcake pie icing. Sweet marzipan gummi bears chupa chups sesame snaps I love muffin apple pie.
    </p>

    <h3>ION Robotic Lawnmower</h3>
    <p>
      Cupcake ipsum dolor sit. Amet icing tootsie roll tart gummi bears danish. Jujubes lollipop tiramisu carrot cake ice cream jelly sweet roll pudding. I love cake soufflé candy marzipan jelly beans. Unerdwear.com lemon drops cookie I love candy candy canes cake cheesecake. Lollipop I love muffin I love ice cream lemon drops icing wafer cake. Marshmallow pie pudding brownie sweet roll pudding brownie I love. Sesame snaps tootsie roll halvah I love cupcake pie icing. Sweet marzipan gummi bears chupa chups sesame snaps I love muffin apple pie.
    </p>

    <h3>ARCON</h3>
    <p>
      Cupcake ipsum dolor sit. Amet icing tootsie roll tart gummi bears danish. Jujubes lollipop tiramisu carrot cake ice cream jelly sweet roll pudding. I love cake soufflé candy marzipan jelly beans. Unerdwear.com lemon drops cookie I love candy candy canes cake cheesecake. Lollipop I love muffin I love ice cream lemon drops icing wafer cake. Marshmallow pie pudding brownie sweet roll pudding brownie I love. Sesame snaps tootsie roll halvah I love cupcake pie icing. Sweet marzipan gummi bears chupa chups sesame snaps I love muffin apple pie.
    </p>
  </div>
</div>