<div class="container" id="sponsorship-container">
  <div class="landing" data-stellar-background-ratio="0.4">
    <div class="text-container">
      <h1>Sponsorship</h1>
    </div>
  </div>
  <div class="content-container">
    <p>Taking part in our competitions requires a significantly monetary investment from the team. To successfully compete in 2015 we need to acquire funding for parts, transportation, and entry fees. For the 2015 season, our competitions are hosted in a variety of locations across North America. Our team welcomes all forms of contribution to the team, be it financial, service-related or product-based.</p>

	<p>Over the past 10 years, our sponsors have enjoyed a mutually beneficial relationship with the UW Robotics Team. Our supporters gain visibility on the University of Waterloo campus, at the competitions we visit, and throughout the Kitchener-Waterloo region. Additionally, sponsors gain access to our pool of talented students for recruitment purposes.</p>

	<div id="button-container">
		<a href="" download><button id="download">Download Sponsorship Package</button></a>
	</div>

	<h3>Platinum Tier (Over $3000)</h3>
	<p>At this level, you will receive all the benefits from Gold Tier, as well as a copy of out team T-Shirt. We will also hand out your company's promotional material at all our competitions.</p>

	<h3>Gold Tier ($1500-$3000)</h3>
	<p>At this level, you will receive all the benefits from Silver Tier, as well as your company's logo on our team T-Shirts. You will also receive a plaque at the end of our competition year (Summer 2015) thanking you for your sponsorship.</p>

	<h3>Silver Tier ($500-$1500)</h3>
	<p>At this level, you will receive all the benefits from Bronze Tier, as well as your company's logo on our Website and one of our robots.</p>

	<h3>Bronze Tier (Under $500)</h3>
	<p>At this level, your company name will be displayed on our website. You will receive a Sponsorship Certificate thanking you for your support, as well as an invitation to attend our competitions and a semi-annual newsletter.</p>
  </div>

  <div class="landing" data-stellar-background-ratio="0.4" id="our-sponsors">
    <div class="text-container">
      <h2>Our Sponsors</h2>
    </div>
  </div>
  <div class="content-container" id="sponsors">
    <a href="http://www.pcl.com/Pages/default.aspx" target="_blank"><div class="link">
      <div class="info">
      <h3>PCL</h3>
      <p>Gold Sponsor</p>
    </div>
      <img class="gold" src="assets/img/supporters/pcl.jpg">
    </div></a>
    <a href="http://www.pcl.com/Pages/default.aspx" target="_blank"><div class="link">
      <div class="info">
      <h3>PCL</h3>
      <p>Gold Sponsor</p>
    </div>
      <img class="gold" src="assets/img/supporters/pcl.jpg">
    </div></a>
    <a href="http://www.pcl.com/Pages/default.aspx" target="_blank"><div class="link">
      <div class="info">
      <h3>PCL</h3>
      <p>Gold Sponsor</p>
    </div>
      <img class="gold" src="assets/img/supporters/pcl.jpg">
    </div></a>
  </div>
</div>