html,
body {
	height: 100%;
	margin: 0px;
	font-family: 'Hind', sans-serif;
	font-weight: 300;
}

h1 {
	font-weight: 300;
	font-size: 80px;
	font-style: normal;
}
h2 {
	font-weight: 300;
	font-size: 60px;
	font-style: normal;
}
h3 {
	font-weight: 300;
	font-size: 30px;
	font-style: normal;
}
a {
	text-decoration: none;
	color: black;
}

#menu {
	position: absolute;
	width: 100%;

	.pure-menu {
		background-color: transparent;

		#logo {
			width: 200px;
			float: left;
		}

		ul {
			float: right;
			padding: 25px 0;

			li a {
				color: #AAA;
			}
			li a:hover {
				background-color: transparent !important;
				color: white !important;
			}
			.selected {
			    color: white !important;
			}
		}
	}
}

#footer {
	background-color: black;
	color: white;
	padding-top: 20px;
	position: relative;

	a {
		color: #AAA;

		p {
			margin: 1em 0 !important;
		}
	}
	a:hover {
		color: white;
	}
	h3 {
		margin-top: 0;
	}
	p {
		margin: 0;
	}

	#column_2 {
		padding-top: 60px;
	}

	#top, #top-circle {
		position: absolute;
		background-color: white;
		width: 60px;
		height: 60px;
		top: -30px;
		right: 48%;
		border-radius: 50%;
	}

	#top {
		opacity: 0.5;
		color: black;
		text-align: center;
		background-image: url("assets/img/up-arrow.jpg");
		background-size: 60% auto;
		background-position: top center;
		background-repeat: no-repeat;

		p {
			margin-top: 25px !important;
		}
		a {
			color: black;
		}
	}
	#top:hover {
		opacity: 1.0;
	}
}

#view {
	width: 100%;
}

.container {
	padding: 0;
	text-align: center;

	.title {
		width: 100%;
		text-align: center;
	}
	.landing {
		width: 100%;
		background-position: center;

		.text-container {
			padding-top: 100px;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.5);
			color: white;
			text-align: center;

			h1 {
				margin: 0;
				padding: 50px;
			}
			h2 {
				margin: 0 20px 0 0;
				padding: 0;
				padding-bottom: 50px;
			}
		}
	}
	.content-container {
		padding: 100px 50px;
		text-align: left;

		h2 {
			margin-top: 0 !important;
		}
	}
}

.column {
	width: 33%;
	display: inline-block;
	text-align: center;
	vertical-align: top;

	img {
		width: 100%;
		max-width: 200px;
	}
	p {
		padding: 0 40px;
	}
}

#home-container {
	text-align: center;

	.landing {
		background-image: url("assets/img/home_2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom center;
	}

	#title .text-container {
		min-height: 400px;
	}

	.content-container {
		text-align: center;
	}
}